/*Color palette*/
:root{
    --prime-color: #000000;
    --secondary-color: #161616;
    --action-color: #e74f3a;
}
/*end Color palette*/
/*global rules*/
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}
/*end global rules*/
.socials{
    position: fixed;
    top: 35%;
    left: 3%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55px;
    border-radius: 20px;
    border: 2px solid #e74f3a;
    background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
    backdrop-filter: blur(15px);
}
.socials i{
    font-size: 35px;
    margin: 5px;
    color: #e74f3a;
    cursor: pointer;
}
/*header*/
    header {
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        padding:5px 20px;
        position: fixed;
        z-index: 2;
        top: 0;
        font-size: 15px;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
    }
    header nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header nav .logo{
        font-size: 25px;
    }
    header nav menu{
        list-style-type: none;
    }
    header nav menu li{
        display: inline;
        margin-right: 15px;
        font-size: 25px;
        cursor: pointer;
        position: relative;
    }
    header nav menu li::after{
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #e74f3a;
        width: 10px;
        height: 2px;
        transition:1.5s;
    }
    header nav menu li:hover{
        color: #e74f3a;
        text-decoration: underline;
    }
    header .features i{
        font-size: 40px;
        margin-left: 20px;
        cursor: pointer;
    }
    header .features #darkbutton{
        color: rgb(255, 255, 255);
    }
    header nav .humberger{
        display: none;
    }
    @media (max-width: 769px){
        header{
            position: fixed;
            top: 0;
        }
        header nav{
            padding: 0 15px;
            position: relative;
        }
        header nav menu{
            display: none;
            flex-direction: column;
            background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
            backdrop-filter: blur(25px);
            width: 100%;
            height: 100vh;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            z-index: 4;
            position: absolute;
            right: 0;
            top: 100%;
        }
        header nav .logo{
            font-size: 16px;
        }
        header nav .features i:last-child{
            display: none;
        }
        header nav .humberger{
            display: contents;
            font-size: 35px;
            cursor: pointer;
        }
    }

/*end header*/
/*section landing*/
    .landing {
        background-color: var(--prime-color);
        background-image: url(./images/Untitled1.png);
        /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewBox='0 0 90 90'%3E%3Ccircle fill='%23161616' cx='45' cy='45' r='7'/%3E%3Cg fill='%23161616' %3E%3Ccircle cx='0' cy='90' r='7'/%3E%3Ccircle cx='90' cy='90' r='7'/%3E%3Ccircle cx='90' cy='0' r='7'/%3E%3Ccircle cx='0' cy='0' r='7'/%3E%3C/g%3E%3C/svg%3E"); */
        width: 100vw;
        height: 100vh;
        background-attachment: fixed;
        position: relative;
        color: rgb(255, 255, 255);
    }
    .landing .image img{
        height: 90vh;
        position: absolute;
        right: 3%;
        bottom: 0;
    }
    .landing .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 35%;
        left: 10%;
    }
    .landing h1 ,.landing p{
        margin: 0 0 30px 70px;
        z-index: 1;
    }
    .landing h1{
        font-size: 7vh;
        width: 60%;
    }
    .landing p{
        font-size: 2vw;
    }
    .landing p::before{
        content: "";
        background-color: #e74f3a;
        width: 50px;
        height: 3px;
        display: inline-block;
        position: relative;
        top: -7px;
        margin-right: 15px;
        left: 0;
    }
    .landing button{
        width: 200px;
        height: 70px;
        border-radius: 35px;
        background:linear-gradient(#000000,#000000);
        border: 3px solid #e74f3a;
        /* background: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1));
        backdrop-filter: blur(25px); */
        font-size: 25px;
        color: #e74f3a;
        margin: 0 0 0px 70px;
        cursor: pointer;
    }
    @media (max-width: 769px){
        .landing{
            background-position: 920px;
            position: relative;
        }
        .landing .container{
            left: -50px;
            top: 40%;
        }
        .landing .image img{
            right: -35%;
        }
        .landing h1{
            font-size: 30px;
            width: 95%;
        }
        .landing p{
            font-size: 25px;
        }
        .landing p::before{
            display: none;
        }
        .landing .socials{
            position: absolute;
            flex-direction: row;
            left: 65px;
            top: 90%;
            height: fit-content;
            width: fit-content;
            background-color: #000000;
        }
    }

/*end section landing*/
/*section services*/
    .services{
        background-color: var(--secondary-color);
        color: white;
        z-index: 1;
    }
    .services .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        position: relative;
        width: 75%;
        padding-top: 0;
        margin-top: 0;
        height: fit-content;
        text-align: center;
    }
    .services .container .textwraper{
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        text-align: center;
        /* margin-top: 55px; */
        padding: 0;
        margin: 0;
    }
    /* .services .container h1{
        width: 80%;
        font-size: 30px;
        z-index: 1;
        margin-top: 10px;
        opacity: 0.8;
    } */
    .services .container .maintext1{
        /* position: absolute; */
        /* top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%); */
        font-size: 140px;
        color: transparent;
        margin: 0;
        -webkit-text-stroke: 3px gray;
    }
    .services .container h3{
        font-size: 18px;
        opacity: 0.9;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .services .container .service{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .services .container .service .ser{
        width: 200px;
        height: 230px;
        border-radius: 20px;
        text-align: center;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .services .container .service .ser .front{
        position: absolute;
        backface-visibility: hidden;
    }
    .services .container .service .ser .back{
        position: absolute;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e74f3a;
        backface-visibility: hidden;
        transform: rotateY(180deg);
    }
    .services > .container .service  .ser:hover{
        transform: rotateY(180deg);
    }
    .services .container .service .ser i{
        font-size: 45px;
    }
    .services .ser.one{
        background-color: #4b86fe;
    }
    .services .ser.two{
        background-color: #2cb9a9;
    }
    .services .ser.three{
        background-color: #fe5063;
    }
    .services .ser.four{
        background-color: #feaa30;
    }
    .services .ser.five{
        background-color: #5850a6;
    }
    @media (max-width: 769px){
        .services .container{
            width: 95vw;
            justify-content: flex-start;
        }
        .services .container .service{
            position: relative;
            height: 40px;
            width: 100%;
            /* background-color: #2cb9a9; */
        }
        .services .container .service .ser{
            position: absolute;
            top: 50%;
            left: 12%;
            width: 250px;
            display: none;
        }
        .services .container h1{
            font-size: 23px;
            width: 90%;
            line-height: 28px;
        }
        .services .container .maintext1{
            font-size: 77px;
        }
        .services .container h3{
            font-size: 20px;
        }
    }
/*end section services*/
/*coach*/
    .coach{
        /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/weight-lifting-concept-with-dumbbell.jpg); */
        width: 100vw;
        height: 70vh;
        background-image: url(./images/Untitled1.png);
        background-color: var(--prime-color);
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }
    .coach img{
        width: 400px;
    }
    .coach .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 100%;
        position: relative;
        text-align: left;
    }
    .coach .container h1{
        font-size: 35px;
    }
    .coach .container p{
        font-size: 15px;
        width: 450px;
    }
    @media (max-width:769px){
        .coach{
            background-position: 550px;
        }
        .coach .container{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 80%;
        }
        .coach img{
            width: 300px;
        }
        .coach .container h1{
            font-size: 20px;
        }
        .coach .container p{
            font-size: 13px;
            width: 90%;
            margin: auto;
        }
    }

/*end coach*/
/*section plans*/
    .offers{
        background-color: var(--secondary-color);
        color: white;
    }
    .offers .container{
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .offers .container .textwraper{
        /* display: flex;
        justify-content: center; */
        /* align-items: center;
        position: relative; */
        text-align: center;
        /* margin-top: 15px; */
    }
    /* .offers .container h2{
        width: 80%;
        font-size: 30px;
        z-index: 1;
        margin-top: 10px;
        opacity: 0.7;
    } */
    .maintext1{
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%); */
        font-size: 150px;
        color: transparent;
        -webkit-text-stroke: 3px gray;
    }
    .offers .plans{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: fit-content;
        color: black;
        margin-bottom: 2px;
        /* margin-top: 25px; */
    }
    .offers .plans .plan{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 15px;
        width: 300px;
        height: 400px;
        transition: 0.5s;
        background-color: rgb(255, 255, 255);
        border-top: 8px solid #e74f3a;
    }
    .offers .plans .plan:hover{
        box-shadow: 0 5px 10px rgb(82, 82, 82);
    }
    .offers .plans .plan.two{
        height: 440px;
        border-top: 50px solid #e74f3a;
        position: relative;
    }
    .offers .plans .plan.two .popular{
        position: absolute;
        top: -45px;
        color: white;
        font-weight: 400;
    }
    .offers .plans .plan p{
        font-size: 25px;
    }
    .offers .plans .plan button{
        width: 150px;
        height: 50px;
        border: none;
        font-size: 20px;
        background-color: #e74f3a;
        cursor: pointer;
    }
    .offers .plans .plan .price{
        font-size: 35px;
        color: #e74f3a;
    }
    @media (max-width: 769px){
        .offers .container h2{
            font-size: 25px;
            line-height: 30px;
        }
        .offers .container .maintext1{
            font-size: 85px;
        }
        .offers .plans{
            flex-direction: column;
            justify-content: center;
            margin-top: 30px;
        }
        .offers .plans .plan{
            margin-bottom: 15px;
            height: 400px;
            width: 280px;
            margin-right: 0;
        }
        .offers .plans .plan.two{
            width: 300px;
        }
    }
/*end section plans*/
/*reviews section*/
    .reviews {
        background-color: var(--prime-color);
        color: white;
    }
    .reviews .container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .reviews .container .says{
        width: 90%;
        height: 250px;
        background-color: var(--secondary-color);
        border-radius: 30px;
        border: 3px solid #e74f3a;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        text-align: center;
    }
    /* .reviews .container .says p{

    } */
    .reviews hr{
        margin: 10px 0 20px;
        width: 80%;
    }
    @media (max-width: 769px){
        .reviews .maintext1{
            font-size: 85px;
        }
    }
/*end reviews section*/